<div>
    <p>
        Hi <%= comment.user.name%>!
    </p>
    <br>
    
    <p>
        You are <strong><%= comment.content %> just got published on codeial.</strong>
    </p>
    <br>
    <br>
    <p >
        <div style ="height: 20px; width: 55px; color: green; border: 1px solid black;">
        Thanks!
        </div>
    </p>
</div>